
LawIT/.vs/LawIT/v16/.suo
LawIT/.vs/LawIT/DesignTimeBuild/.dtbcache
LawIT/.vs/LawIT/v16/Server/sqlite3/db.lock
LawIT/.vs/LawIT/v16/.suo
LawIT/.vs/LawIT/v16/.suo
LawIT/.vs/LawIT/v16/Server/sqlite3/storage.ide
LawIT/.vs/LawIT/v16/Server/sqlite3/storage.ide-shm
LawIT/.vs/LawIT/v16/Server/sqlite3/storage.ide-wal
LawIT/LawIT/bin/Debug/netcoreapp2.2/LawIT.deps.json
LawIT/LawIT/bin/Debug/netcoreapp2.2/LawIT.dll
LawIT/LawIT/bin/Debug/netcoreapp2.2/LawIT.pdb
LawIT/LawIT/obj/Debug/netcoreapp2.2/LawIT.assets.cache
LawIT/LawIT/obj/Debug/netcoreapp2.2/LawIT.csproj.FileListAbsolute.txt
LawIT/LawIT/obj/Debug/netcoreapp2.2/LawIT.csprojAssemblyReference.cache
LawIT/LawIT/obj/Debug/netcoreapp2.2/LawIT.dll
LawIT/LawIT/obj/Debug/netcoreapp2.2/LawIT.pdb
LawIT/LawIT/obj/project.assets.json
LawIT/LawIT/obj/LawIT.csproj.nuget.dgspec.json
LawIT/LawIT/obj/LawIT.csproj.nuget.cache
